<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | Ruby on Rails Sample App</title>
</head>
<body>
	<h1>Help</h1>
	<p>Help Page with nothing really in it</p>
</body>
</html>


